#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

#control-panel {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 460px;
    padding: 40px;
}

#plan-name {
    text-transform: capitalize;
}

#airport-info-title {
    display: flex;
    align-items: center;
}

#current-time {
    text-align: center;
    border-radius: 5px;
}

#control-box {
    display: flex;
    justify-content: space-between;
}

.running {
    color: #fff !important;
    background-color: #1e87f0 !important;
}