#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

#control-panel {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 460px;
    padding: 20px;
}

#plan-name {
    text-transform: capitalize;
    max-width: 180px;
}

#airport-info-title {
    display: flex;
    align-items: center;
}

#current-time {
    text-align: center;
    border-radius: 5px;
}

#control-box {
    display: flex;
    justify-content: space-between;
}

.running {
    color: #fff !important;
    background-color: #1e87f0 !important;
}

.control-card {
    margin-bottom: 20px;
}

#traffic-table {
    max-height: 50%;
    max-width: 280px;
    margin: 0;
}

#traffic-table tbody {
    display: block;
    max-height: 200px;
    overflow-y: scroll;
}

#traffic-table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#airport-traffic-title, #traffic-summary {
    margin: 0;
}

span.nav-next {
    line-height: 40px;
    margin: 0 20px;
}

.hide {
    display: none;
}

.uk-article+.uk-article {
    margin: 0 !important;
}